        <script src={{"/js/jquery.min.js" | relURL }}></script>
        <script src={{"/js/bootstrap.min.js" | relURL }}></script>
        <script src={{"/js/bootswatch.js" | relURL }}></script>
        <script src={{"/js/mermaid.js" | relURL }}></script>
        <script>
          var mermaid_config = {
              startOnLoad:true,
              theme: "mermaid",
              mermaid:{
                cloneCssStyles: false
              },
              flowchart:{
                  useMaxWidth:false,
                  htmlLabels:true
              },
              sequenceDiagram:{
                useMaxWidth:true,
                width:150,
                height:45
              }
          };
          mermaid.initialize(mermaid_config);
          mermaid.init(mermaid_config, '.language-mermaid');
        </script>
    </body>
</html>
